.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.frame {
  width: 330px;
  height: auto;
  overflow: hidden; 
  position: relative;
  margin-bottom: 15px;
}

.contenu {
  display: flex;
  justify-content: flex-start;
  width: 330px;
  height: 100%;
  transition: transform 0.5s ease;
  transform: translateX(0);

}

.contenu.shifted {
  transform: translateX(-330px);
}

.content {
  display: block;
}

/* Partie gauche et droite de "contenu" */
.part {
  width: 330px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  flex-shrink: 0;
  text-align: center;
}


.data {
  display: grid;
  grid-template-columns: 1fr max-content 1fr;
  column-gap: 1.5rem;
}

.experienceLeft {
  text-align: right;
}

.experienceRight {
  text-align: left;
}

.threeTitle {
  margin-bottom: 30px;
  text-transform: uppercase;
  text-decoration: underline;
  text-decoration-color: var(--xp-three-color);
}

.workTitle {
  font-size: 20px;
}

.lieu {
  font-size: 15px;
  font-weight: bold;
  margin: 5px 0 10px 0;
}
.date {
  font-size: 15px;
  margin-bottom: 15px;
}

.point {
  display: inline-block;
  width: 13px;
  height: 13px;
  background-color: var(--xp-three-color);
  border-radius: 50%;
}

.ligne {
  display: block;
  width: 1px;
  height: 100%;
  background-color: var(--xp-three-color);
  transform: translate(6px, -7px);
}










button {
  background-color: var(--btn-color);
  color: var(--btn-text-color);
  border: none;
  border-radius: 10px;
  width: 150px;
  height: 50px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  transition: box-shadow 200ms ease-in-out, transform 200ms ease-in-out;
}


button:hover {
  transform: scale(1.05);
}

button:active {
  transform: translateY(2px);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
}

@media (width >= 800px) {
  .frame {
    width: 500px;
  }
  
  .contenu {
    width: 500px;
  }
  
  .contenu.shifted {
    transform: translateX(-500px);
  }

  .part {
    width: 500px;
  }

  .threeTitle {
    font-size: 30px;
  }

  .workTitle {
    font-size: 22px;
  }
  
  .lieu {
    font-size: 20px;
  }
  .date {
    font-size: 20px;
  }

}

@media (width >= 1400px) {
  .frame {
    width: 700px;
  }
  
  .contenu {
    width: 700px;
  }
  
  .contenu.shifted {
    transform: translateX(-700px);
  }

  .part {
    width: 700px;
  }
}