.projectImageWrapper {
    position: relative;
    display: inline-block;
}

.projectCard.noLink {
    transition: transform 200ms ease-in-out;
}

.projectCard:hover {
    transform: scale(1.05);
}

.projectCard.noLink:hover {
    transform: scale(1.05);
}

.label {
    position: absolute;
    right: 8px;
    top: 8px;
    transform:rotate(45deg);
    /* background-color: rgba(9, 135, 242, 0.8); */
    overflow: hidden;
    color: white;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    padding: 5px 7px;
    border-radius: 3px;
    z-index: 999;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
}

.online {
    background-color: #007bff; /* Bleu */
}

.study {
    background-color: #28a745; /* Vert */
}

.ongoing {
    background-color: #ffc107; /* Jaune */
}